---
import AppLayout from "../../../layouts/AppLayout.astro";
---

<AppLayout sidebarActive="elements/components/modal">
    <div class="w-full">
        <!-- Breadcrumb -->
        <div class="flex items-center pb-7 overflow-x-auto whitespace-nowrap">
            <a href="#" class="text-gray-600">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path
                        d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                    ></path>
                </svg>
            </a>

            <span class="mx-5 text-gray-500"> /</span>

            <span class="text-gray-600"> Elements</span>

            <span class="mx-5 text-gray-500"> /</span>

            <span class="text-gray-600"> Components</span>

            <span class="mx-5 text-gray-500"> /</span>
            <a href="#" class="text-blue-600 hover:underline"> Modal</a>
        </div>
        <!-- End of Breadcrumb -->

        <!-- Basic Modal -->
        <div class="card">
            <button
                class="px-6 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80"
                onclick="
                my_modal_1.showModal()
                "
                >open modal</button
            >
            <dialog id="my_modal_1" class="modal">
                <div class="modal-box">
                    <h3 class="font-bold text-lg">Hello!</h3>
                    <p class="py-4">
                        Press ESC key or click the button below to close
                    </p>
                    <div class="modal-action">
                        <form method="dialog">
                            <!-- if there is a button in form, it will close the modal -->
                            <button
                                class="px-6 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-gray-600 rounded-lg hover:bg-gray-500 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-80"
                                >Close</button
                            >
                        </form>
                    </div>
                </div>
            </dialog>
        </div>
        <!-- End of Basic Modal -->
    </div>
</AppLayout>
