<nav
    class="lg:pl-[248px] flex h-[8vh] lg:justify-end items-center fixed top-0 left-0 w-screen bg-white shadow-sm z-10"
>
    <div class="px-5 lg:px-10 w-full">
        <div class="flex items-center justify-between lg:justify-end w-full">
            <a
                href="/menu/dashboard/basic-dashboard.html"
                class="flex lg:hidden"
            >
                <img src="/icons/logo.svg" class="w-8" alt="logo" />
            </a>
            <ul>
                <li>
                    <details class="dropdown">
                        <summary
                            class="cursor-pointer relative z-10 flex items-center p-2 text-sm text-gray-600 bg-white border border-transparent rounded-md focus:border-blue-500 focus:ring-opacity-40 focus:ring-blue-300 focus:ring focus:outline-none"
                        >
                            <div class="flex items-center">
                                <img
                                    class="flex-shrink-0 object-cover mx-1 rounded-full w-9 h-9"
                                    src="https://images.unsplash.com/photo-1523779917675-b6ed3a42a561?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8d29tYW4lMjBibHVlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=face&w=500&q=200"
                                    alt="jane avatar"
                                />
                                <div
                                    class="mx-1 flex flex-col items-start justify-start"
                                >
                                    <h1
                                        class="text-sm font-semibold text-gray-700"
                                    >
                                        Jane Doe
                                    </h1>
                                    <p class="text-sm text-gray-500">
                                        janedoe@exampl.com
                                    </p>
                                </div>
                            </div>
                            <svg
                                class="w-5 h-5 mx-1"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M12 15.713L18.01 9.70299L16.597 8.28799L12 12.888L7.40399 8.28799L5.98999 9.70199L12 15.713Z"
                                    fill="currentColor"></path>
                            </svg>
                        </summary>
                        <div
                            class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box transition-all duration-500"
                        >
                            <a
                                href="#"
                                class="flex items-center p-3 -mt-2 text-sm text-gray-600 transition-colors duration-300 transform hover:bg-gray-100"
                            >
                                <img
                                    class="flex-shrink-0 object-cover mx-1 rounded-full w-9 h-9"
                                    src="https://images.unsplash.com/photo-1523779917675-b6ed3a42a561?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8d29tYW4lMjBibHVlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=face&w=500&q=200"
                                    alt="jane avatar"
                                />
                                <div class="mx-1">
                                    <h1
                                        class="text-sm font-semibold text-gray-700"
                                    >
                                        Jane Doe
                                    </h1>
                                    <p class="text-sm text-gray-500">
                                        janedoe@exampl.com
                                    </p>
                                </div>
                            </a>

                            <hr class="border-gray-200" />

                            <a
                                href="#"
                                class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform hover:bg-gray-100"
                            >
                                view profile
                            </a>

                            <a
                                href="#"
                                class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform hover:bg-gray-100"
                            >
                                Settings
                            </a>

                            <a
                                href="#"
                                class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform hover:bg-gray-100"
                            >
                                Keyboard shortcuts
                            </a>

                            <hr class="border-gray-200" />

                            <a
                                href="#"
                                class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform hover:bg-gray-100"
                            >
                                Company profile
                            </a>

                            <a
                                href="#"
                                class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform hover:bg-gray-100"
                            >
                                Team
                            </a>

                            <a
                                href="#"
                                class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform hover:bg-gray-100"
                            >
                                Invite colleagues
                            </a>

                            <hr class="border-gray-200" />

                            <a
                                href="#"
                                class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform hover:bg-gray-100"
                            >
                                Help
                            </a>
                            <a
                                href="#"
                                class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform hover:bg-gray-100"
                            >
                                Sign Out
                            </a>
                        </div>
                    </details>
                </li>
                <li>
                    <div class="show-sidebar-btn lg:hidden">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25"
                            ></path>
                        </svg>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
