---
import AppLayout from "./../../../layouts/AppLayout.astro";
---

<AppLayout sidebarActive="elements/forms/input">
    <div class="w-full">
        <!-- Breadcrumb -->
        <div class="flex items-center pb-7 overflow-x-auto whitespace-nowrap">
            <a href="#" class="text-gray-600">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path
                        d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                    ></path>
                </svg>
            </a>

            <span class="mx-5 text-gray-500"> /</span>

            <span class="text-gray-600"> Elements</span>

            <span class="mx-5 text-gray-500"> /</span>

            <span class="text-gray-600"> Forms</span>

            <span class="mx-5 text-gray-500"> /</span>
            <a href="#" class="text-blue-600 hover:underline"> Input</a>
        </div>
        <!-- End of Breadcrumb -->

        <div class="flex">
            <div class="w-full lg:w-6/12">
                <!-- Basic Input -->
                <div class="card">
                    <div class="flex items-center gap-x-3">
                        <h2
                            class="text-lg font-medium text-gray-800 dark:text-white"
                        >
                            Basic Input
                        </h2>
                    </div>

                    <div class="mt-6">
                        <div class="mb-4">
                            <label
                                for="username"
                                class="block text-sm text-gray-500"
                                >Username</label
                            >

                            <input
                                type="text"
                                placeholder="John Doe"
                                class="block mt-2 w-full placeholder-gray-400/70 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40"
                            />
                        </div>
                        <div class="mb-4">
                            <label
                                for="email"
                                class="block text-sm text-gray-500">Email</label
                            >

                            <input
                                type="email"
                                placeholder="johndoe@mail.com"
                                class="block mt-2 w-full placeholder-gray-400/70 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40"
                            />
                        </div>
                        <div class="mb-4">
                            <label
                                for="Description"
                                class="block text-sm text-gray-500"
                                >Description</label
                            >

                            <textarea
                                placeholder="lorem..."
                                class="block mt-2 w-full placeholder-gray-400/70 rounded-lg border border-gray-200 bg-white px-4 h-32 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <!-- End of Basic Input -->
            </div>
        </div>
    </div>
</AppLayout>
